.copyContainer{
    padding-bottom: 5px;
}

.copyContainer__ordinal{
    margin-right: 4px;
}
.copyContainer__content{
    display:inline;
}

.copyContainer__delete{
    padding:0;
    float:right;
}

.copyContainer__copy{
    padding:0;
    float:right;
}

