body{
    width:275px;
}
#popupHeader{
    padding-bottom: 5px;
}

.logoImage{
    /* position:absolute; */
    display:inline;
    height: 24px;
    width: 24px;
}
.logoName {
    display:inline;
    vertical-align:text-bottom;
    font-size: 24px;
    /* border: 5px solid red; */
}

.copyContainer{
    display:flex;
    align-items: flex-start;
    flex-wrap:wrap;
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
}

.copyContainer__ordinal{
    margin-right: 4px;
}
.copyContainer__content{
    display:inline;
    flex:1;
}

.copyContainer__delete{
    padding:0;
    float:right;
}

.copyContainer__copy{
    padding:0;
    float:right;
}

hr{
    /* width: 100%;
    justify-content: center;
    color:black;
    border: 1px solid black; */
    width:100%;
}